<% if @shouts.any? %>
  <div class="container">
    <h1>Latest links</h1>
 
    <div id="player-wrapper"></div>
 
    <% @shouts.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |link| %>
          <% if link %>
            <div class="col-md-4">
              <div class="yt_link thumbnail">
                <%= image_tag "https://img.youtube.com/vi/#{link.uid}/mqdefault.jpg", alt: link.title,
                              class: 'yt_preview img-rounded', :"data-uid" => link.uid %>
 
                <div class="caption">
                  <h5><%= link.title %></h5>
                  <p>Author: <b><%= link.author %></b></p>
                  <p>Duration: <b><%= link.duration %></b></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>