<div id="feed_content">
  <aside>
    <ul id="secondary_nav">
      <li><%= link_to "Create Post", new_post_path, :class => "create_post_link" %></li>
      <li><a id="facebook_toggle">Toggle Facebook</a></li>
      <li><a id="twitter_toggle">Toggle Twitter</a></li>
      <li><a id="instagram_toggle">Toggle Instagram</a></li>
    </ul>
  </aside>
  <div id="feed_container">
    <div class="loading_message">
      <%= image_tag "ajax-loader.gif" %>
      <p class="loading_text">Loading...</p>
    </div>
  </div>
</div>

<script type="text/javascript">
  FeedIndex.providers = {facebook: <%= @providers.facebook? %>, twitter: <%= @providers.twitter? %>};
  $(document).ready(function () {
    FeedIndex.initialize();
  });
</script>