<% content_for :for_head do %>
  <title>Nfuse | Login to the largest Mixed Social Media Site</title>
  <meta name="description" content="Login to the one of the largest social mixers where you can explore new social media post.">
<% end %>
<!-- START CONTENT -->
<section id="" class="content-section container picbg">
  <div class="row">
    <header class="col-xs-12 center">
      <h1 class="heavy">Log In</h1>
      <p class="intro-text">Discover what you've missed since last time.</p>
    </header>
    <!-- LOGIN FORM -->
    <form id="signin" class="minimal loggedout col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6" accept-charset="UTF-8" action="/sessions" method="post">
      <div style="display:none;">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value="lwP687g7e0wmQZatMtfkwvgC6nSxdruY7oBz2xm2sbs=">
      </div>
      <div class="form-group">
        <input class="form-control input-lg" id="email" name="session[email]" placeholder="Email" type="email">
        <input class="form-control input-lg" id="password" name="session[password]" placeholder="Password" type="password">
      </div>
      <button type="submit" class="btn btn-default animated">Go!</button>
      <a href="/auth/facebook" class="facebooklogin btn btn-lg btn-default animated"><i class="fa fa-facebook"></i>Log in</a>
      <%= link_to 'reset password', new_password_reset_path %>
    </form>
  </div>
  <!-- Footer -->
  <a id="bottom-tag" class="corner-tag"><span class="light main-color">#</span></a>
  <div class="random bg"></div>
</section>
<!-- Footer -->


