<% content_for :for_head do %>
  <title>Nfuse | Reset your password for your Nfuse account</title>
  <meta name="description" content="Create a new password for your Nfuse accout. Having Problems? Contact Nfuse">
<% end %>
<section id="" class="content-section container picbg">
  <div class="row">
    <header class="col-xs-12 center">
      <p class="intro-text">Did you forget your Password?</p>
      <p>Enter your email below and we'll send you a link to change it.</p>
    </header>
    <!-- LOGIN FORM -->
    <%= form_tag 'password_resets', class: 'minimal col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6' do %>
      <div class="form-group">
        <input type="email" name="email" id="form-first-name" placeholder="Email" class="form-control input-lg">
      </div>
      <button type="submit" class="btn btn-default animated">Submit</button>
    <% end %>
  </div>
  <% unless signed_in? %>
    <a id="bottom-tag" class="corner-tag"><span class="light main-color">#</span></a>
    <div class="random bg"></div>
  <% end %>
</section>
  <!-- Footer -->
  <footer>
      <div class="container text-center">
          <p>&copy; Nfuse LLC. 2016. Made with <a href="#"><i class="fa fa-heart-o"></i> by Taylor and Ted</a></p>
      </div>
  </footer>
<script>
// $(document).ready(function() {
//   $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
// });
</script>