<!-- *Start* Views/password_resets/new.html -->

<% provide(:title, "Password Reset") %>
<style type="text/css">
	.forgot-password-padding{
		margin-top: 2%;
	}

  h3 {
    color: #fff;
  }
</style>
<div class="Alignthisorelse">
  <div class="container forgot-password-padding">
    <div class="col-md-6 col-md-offset-3 form-box wow fadeInUp">
      <div class="form-top-reset">
        <div class="form-top-left">
          <h3><strong>Forgot Password?<strong></h3>
            <p>Please enter your email below.</p>
        </div>
        <div class="form-top-right">
          <a href="#"><%= image_tag("lock27lightgray.fw.png", size: "65x65") %></a>
        </div>
      </div>
      <div class="form-bottom">
				<%= form_tag password_resets_path, :method => :post, role: "form" do %>
				  <div class="form-group">
				    <%= text_field_tag :email, params[:email], :placeholder => "Email", class: "form-control input-lg", id:"form-email", type: "email" %>
				  </div>
              <button type="submit" class="btn">
                Submit
              </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- *End* Views/password_resets/new.html -->




