<!-- *Start* Views/callback_links/avatar_pic.html -->
<% content_for :for_head do %>
  <title>Nfuse | Normal Sign Up Avatar/Banner Change</title>
  <meta name="description" content="Create a new username for your new profle on Nfuse or keep your Facebook username.">
<% end %>
<section id="" class="content-section container picbg">
  <div class="row">
    <header class="col-xs-12 center">
      <h1 class="heavy"><%= current_user.user_name %>: Step 2</h1>
      <p>Add a Profile Picture and Banner below</p>
    </header>
    <%= render partial: 'users/upload_pics_form' %>
</section>
  <!-- Footer -->
  <footer>
      <div class="container text-center">
          <p>&copy; Nfuse LLC. 2016. Made with <a href="#"><i class="fa fa-heart-o"></i> by Taylor and Ted</a></p>
      </div>
  </footer>
<script>
// $(document).ready(function() {
//   $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
// });
</script>

  <script>
    $(function() {
      $('#user_avatar_upload').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
  <script>
    $(function() {
      $('#user_banner_change').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target2').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
<!-- *End* Views/callback_links/avatar_pic.html -->