<!-- *Start* Views/callback_links/avatar_pic.html -->
<% content_for :for_head do %>
  <title>Nfuse | Normal Sign Up Avatar/Banner Change</title>
  <meta name="description" content="Create a new username for your new profle on Nfuse or keep your Facebook username.">
<% end %>
<section id="settings" class="container">
  <div class="row">    
    <div class="center col-xs-12 content">
      <h3>Hey @<%= current_user.user_name %>, Add You Profile And Banner Images</h3>
    </div>
    <!-- SWITCHABLE CONTENT -->
    <article class="content col-xs-12 tab-content">
      <%= render partial: 'users/upload_pics_form' %>
    </article>
</section>
  <!-- Footer -->
  <footer>
      <div class="container text-center">
          <p>&copy; Nfuse LLC. 2016. Made with <a href="#"><i class="fa fa-heart-o"></i> by Taylor and Ted</a></p>
      </div>
  </footer>
<script>
// $(document).ready(function() {
//   $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
// });
</script>

  <script>
    $(function() {
      $('#user_avatar_upload').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
  <script>
    $(function() {
      $('#user_banner_change').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image();
          console.log(file);
          img.src = file.target.result;
          $('#target2').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
<!-- *End* Views/callback_links/avatar_pic.html -->