<div id="comments">
<% @comments.each do |comment| %>
  <div class="comment">
  	<ul>
  		<li>
  			<%= image_tag comment.user.avatar.url(:thumb) %>
  			<%= comment.user.full_name %>
    		<%= comment.body %>
  		</li>
  	</ul>
  </div>
<% end %>
</div>