<div id="comments">
<% @comments.each do |comment| %>
  <div class="comment">
  	<ul>
  		<li>
  			<%= @user.avatar.url(:thumb) %>
  		</li>
  		<li>
  			<%= @user.full_name %>
  		</li>
  		<li>
    		<%= comment.body %>
  		</li>
  	</ul>
  </div>
<% end %>
</div>