commands:

  # add rack 1.6.0 to $GEM_ROOT so puma can activate it instead of rack 1.5.2
  # use actual path not $GEM_ROOT because env vars are not available here
  # make sure puma and rack are not in app's Gemfile or there will be blood

  00_install_rack_160:
    command: gem install -i /opt/rubies/ruby-2.0.0/lib/ruby/gems/2.0.0 rack -v 1.6.0