# These are things that make sense for any Ruby application

# Install git in order to be able to bundle gems from git
packages:
  yum:
    git: []
    patch: []

name: drop the db
command: rake db:drop

name: dump the schema
command: rake db:schema:dump

name: create the db
command: rake db:create

name: migrate the db
command: rake db:migrate
