<div class="timeline-user-box">
  <%= image_tag(post.low_resolution_image_url, :class => "image_post flick_image") %>
</div>
<% if post.caption.present? %>
  <div class="center">
    <%= post.caption %>
  </div>
<% end %>
