<div class="top-big-link wow fadeInUp landingbottompush center">
      <li><%= link_to 'Nfusers', root_path , class: "btn btn-link-2" %></li>
      <li><%= link_to 'Pages', followed_pages_user_path(current_user), class: "btn btn-link-2" %></li>
</div><br>