<% if post.type == "image" %>
  <div class="modal-timeline-user-box center">
    <%= image_tag(post.low_resolution_image_url, :class => "image_post") %>
  </div>
  <% if post.caption.present? %>
    <div class="center">
      <%= post.caption_text %>
    </div>
  <% end %>
  <br>
<% elsif post.type == "video" %>
  <video width="100%" height="258" class="image_post" controls>
    <source src="<%= post.video %>" type="video/mp4">
  </video>
  <% if post.caption.present? %>
    <div class="center">
      <%= post.caption_text %>
    </div>
  <% end %>
  <br>
<% end %>