<% if post.type == "image" %>
  <div class="timeline-user-box">
    <%= image_tag(post.image, :class => "image_post") %>
  </div>
  <% if post.text.present? %>
    <div class="center">
      <%= post.text %>
    </div>
  <% end %>
<% elsif post.type == "video" %>
  <div class="timeline-user-box">
    <iframe
        id="ytplayer"
        width="100%"
        src="<%= post.video %>"
        frameborder="0"
        allowfullscreen>
    </iframe>
  </div>
  <% if post.text.present? %>
    <div class="center">
      <%= post.text %>
    </div>
  <% end %>
<% end %>
