<% if post.has_media? %>
  <% if post.type == 'video' %>
	  <div class="center">
      <video width="100%" controls>
        <source src="<%= post.tweet_video %>" type='video/mp4' />
        <source src="<%= post.tweet_video %>" type='video/ogv' />
      </video>
	  </div>
  <% elsif post.type == 'photo' %>
    <div class="timeline-user-box">
      <%= image_tag(post.tweet_image, :class => "twitter_image") %>
    </div>
  <% end %>
<% end %>
  <%= post.tweet_text %><br>
