<% if post.has_media? %>
  <% if post.type == 'video' %>
	  <div class="center">
	    <video src="<%= post.tweet_video %>" width="50%" height="258" controls></video>
	  </div>
  <% elsif post.type == 'photo' %>
    <div class="modal-timeline-user-box center">
      <%= image_tag(post.tweet_image, :class => "twitter_image") %>
    </div>
  <% end %>
<% end %>
<div class="center">
  <%= post.tweet_text %>
</div>