<!-- *Start* Views/users/_unauthed_accounts.html -->
<div class="unauthed_accounts">
  <h4>
    The access tokens for the following accounts have expired. Please click the below links to reauthorize the
    accounts.
  </h4>
  <ul>
    <% @unauthed_accounts.each do |provider| %>
      <li>
        <%= provider.capitalize %>: <%= link_to "Click here to re-Nfuse", "/auth/#{provider}" %>
      </li>
    <% end %>
  </ul>
</div>
<!-- *End* Views/users/_unauthed_accounts.html -->