<div class="unauthed_accounts">
  <h4>
    The access tokens for the following accounts have expired. Please click the below links to reauthorize the
    accounts.
  </h4>
  <ul>
    <% @unauthed_accounts.each do |account| %>
      <li>
        <%= account.capitalize %>: <%= link_to "Click here to re-Nfuse", "/auth/#{account}" %>
      </li>
    <% end %>
  </ul>
</div>