<!-- *START* Views/users/_user.html.erb  -->

	<div class="item user_link">
		<div class="thumbnail">
		  <%= image_tag user.avatar.url(:followp), class: "followers-pic" %>
		  <ul class="inline follow-btn">
			  <li><h4><%= link_to user.full_name, feed_user_path(user), :class => "follow-color" %></h4></li>
			  <!--<li>
			  	<%#= link_to "#", class: "start-conversation", "data-sid" => current_user.id, "data-rip" => user.id do %>
			  		<%#= image_tag('chat56.fw.png', size: "30x30") %>
			  	<%# end %>
				</li>-->
			  <% if current_user.admin? && !current_user?(user) %>
			    | <%= link_to "delete", user, method: :delete,
			                                  data: { confirm: "You sure?" } %>
			  <% end %>
			</ul>
		</div>
	</div>

<!-- *END* Views/users/_user.html.erb  -->