<div class="explore_filters">
  <%= render partial: "users/explore_filters" %>
</div><br>
<div id="masonJar" class="center explore_container clearfix masonJar">
  <% @timeline.each do |post| %>
    <% if post.provider == "gplus" %>
        <% if post.type != 'hiddenType' %>
          <%= render partial: "users/post", locals: {post: post} %>
        <% end %>
    <% end %>
  <% end %>
</div>