
<div class="center block explore_container clearfix mosaicflow">



<% @timeline.each do |post| %>
  <% if post.provider == "twitter" %>
    <%= render partial: "users/twitter_post", locals: {post: post} %>
  <% elsif post.provider == "instagram" %>
    <%= render partial: "users/instagram_post", locals: {post: post} %>
  <% elsif post.provider == "facebook" %>
    <%= render partial: "users/facebook_post", locals: {post: post, poster_recipient_profile_hash: @poster_recipient_profile_hash, commenter_profile_hash:mmenter_profile_hash} %>
  <% elsif post.provider == "nfuse" %>
    <%=  render partial: "users/shout", locals: {shout: post} %>
	<% end %>
<% end %>





</div>
<!-- *End* Views/users/explore.html.erb  -->