<script type="application/javascript">
  var loadPosts = function() {
   $.ajax({
     url: '<%="/users/#{current_user.user_name}/ajax-feed-load" %>',
     type: "GET"
   }).done(function(data) {
      $("#load-posts").html(data);
//      $grid.masonry();
   }).fail(function(err) {
     console.log(err)
   });
  };
  $(document).ready(loadPosts);
  $(document).on('page:load', ready);
</script>

<div id="load-posts">

</div>