<% if @timeline.present? %>
  <% @timeline.each do |post| %>
    <% case post.provider %>
    <% when "nfuse" %>
      <%  render partial: 'users/shout', locals: {shout: post} %>
    <% when "gplus" %>
      <% if post.type != 'hiddenType' %>
        <%= render partial: "users/post", locals: {post: post} %>
      <% end %>
    <% when "tumblr" %>
      <% unless post.type == 'chat' || post.type == 'audio' %>
        <%= render partial: "users/post", locals: {post: post} %>
      <% end %>
    <% else %>
      <%= render partial: "users/post", locals: {post: post} %>
    <% end %>
  <% end %>
  <div class="load_posts_link">
    <%= link_to "Load more posts", @load_more_url, id: "load-more" %>
  </div>
<% end %>