<script type="application/javascript">
  var loadPosts = function() {
   $.ajax({
     url: '<%="/users/#{current_user.user_name}/ajax-feed-load" %>',
     type: "GET"
   }).done(function(data) {
      $("#masonJar").html(data);
     msnry.destroy();
     initMasonry();
     resizeMasonry();
   }).fail(function(err) {
     console.log(err)
   });
  };
  $(document).ready(loadPosts);
  $(document).on('page:load', ready);
</script>

<div id="masonJar" class="feed_container clearfix masonJar" data-user-id="<%= @user.id %>" >

</div>