<% if @timeline.present? %>
  <% @timeline.each do |post| %>
    <% case post.provider %>
    <% when "facebook" %>
      <%= render partial: "facebook_post", locals: {post: post, poster_recipient_profile_hash: @poster_recipient_profile_hash, commenter_profile_hash: @commenter_profile_hash} %>
    <% when "nfuse" %>
      <%  render partial: 'users/shout', locals: {shout: post} %>
    <% else %>
      <%= render partial: "users/post", locals: {post: post} %>
    <% end %>
  <% end %>
  <div class="load_posts_link">
    <%= link_to "Load more posts", @load_more_url, id: "load-more" %>
  </div>
<% end %>