<div>
  <%= render partial: "users/hub_filters" %>
</div><br>
<div id="masonJar" class="center explore_container clearfix masonJar">
  <% @timeline.each do |post| %>
    <% if post.provider == "instagram" %>
      <%= render partial: "users/instagram_post", locals: {post: post} %>
    <% end %>
  <% end %>
</div>