<section id="signup" class="content-section">
    <div class="container">
        <div class="row">
          <header class="col-xs-12 center">
            <h1 class="heavy">Sign Up</h1>
            <p class="intro-text">Nfuse is free as long as the infinite exists.</p>
          </header>
            <div id="steps" class="col-xs-12 col-sm-6">
                <div class="about-icon col-xs-12">
                    <i class="outlined fa fa-pencil"></i>
                    <h3 class="light">Sign Up</h3>
                    <p>Sign Up with Facebook or come back later, we might be here.</p>
                </div>
                <div class="about-icon col-xs-12">
                    <i class="outlined fa fa-exchange"></i>
                    <h3 class="light">Nfuse Your Networks</h3>
                    <p>Show off your cool post from other networks or create your own.</p>
                </div>
                <div class="about-icon col-xs-12">
                    <i class="outlined fa fa-user"></i>
                    <h3 class="light">Create Profile</h3>
                    <p>Just upload your favorite picture of yourself or maybe a selfie.</p>
                </div>
                <div class="about-icon col-xs-12">
                    <i class="outlined fa fa-smile-o"></i>
                    <h3 class="light">Njoy!</h3>
                    <p>Sit back, relax, grab a beer and scroll for days or just enjoy the site.</p>
                </div>
                <a href="/auth/facebook" class="facebooklogin btn btn-lg btn-default animated"><i class="fa fa-facebook"></i>Sign Up</a>
                <!-- 
                <div class="visible-xs col-xs-12 text-center">
                    <a href="#"  data-toggle="modal" data-target="#signupmodal" class="btn btn-lg btn-default animated">Sign Up</a>
                </div> -->
            </div>
        </div>
    </div>
    <a id="bottom-tag" class="corner-tag"><span class="light main-color">#</span></a>
    <div class="random bg"></div>
</section>

