<div class="explore_filters">
  <%= render partial: "users/hub_filters" %>
</div><br>
<div id="masonJar" class="center explore_container clearfix masonJar">
  <% @timeline.each do |post| %>
    <% if post.provider == "nfuse" %>
      <%=  render partial: "users/shout", locals: {shout: post} %>
    <% end %>
  <% end %>
</div>