<div class="container_profile">
    <%= render partial: "profile_info" %>
</div>

<p>
This page will eventually become a mashup page of all the post you nfuse with the content only, designed to be a cross from share and pin.
</p>
