<!-- *START* Views/users/show_follow.html.erb  -->
<% provide(:title, @title) %>
<div class="row">
  <div class="container_profile">    
    <%= render partial: "profile_info" %>
  </div>
  <h1><%= @title %></h1>
  <% if @users.any? %>
    <div class="masonJar" id="masonJar">
      <%= render @users %>
    </div>
    <%= will_paginate %>
  <% end %>
</div>
<!-- *End* Views/users/show_follow.html.erb  -->