<% provide(:title, @title) %>
    <div class="loader">
      <div class="loader-img"></div>
    </div>
  <div class="container_profile">
    <%= render partial: "profile_info" %>
    <div class="center">   
      <%= render file: "users/feed" %>
    </div>
  </div>

  <script type="text/javascript">
    FeedIndex.providers = {twitter: <%= @providers.twitter? %>, instagram: <%= @providers.instagram? %>};
    $(document).ready(function () {
      FeedIndex.initialize();
    });
  </script>

<script>

jQuery(window).load(function() {
  
  /*
    Loader
  */
  $(".loader-img").fadeOut();
  $(".loader").delay(1000).fadeOut("slow");
  
  /*
    Hidden images
  */
  $(".modal-body img, .testimonial-image img").attr("style", "width: auto !important; height: auto !important;");
  
});
  </script>