<!-- <%# provide(:title, @title) %>
  <div class="container_profile">
    <%#= render partial: "profile_info" %>
    <div class="center">   
      <%#= render file: "users/feed" %>
    </div>
  </div>

  // <script type="text/javascript">
  //   FeedIndex.providers = {twitter: <%##= @providers.twitter? %>, instagram: <%##= @providers.instagram? %>};
  //   $(document).ready(function () {
  //     FeedIndex.initialize();
  //   });
  // </script>
 -->






    <!-- USER AREA -->
<section id="userarea">
  <%= render partial: "profile_info" %>
</section>
<!-- MASON JAR -->
<section id="masonJar" class="clearfix masonJar yes_timeline_padding">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <%= render file: "users/feed" %>
</section>

        <!-- Footer -->
        <footer>
            <div class="container text-center">
                <p>&copy; Nfuse LLC. 2015. Made with <a href="#"><i class="fa fa-heart-o"></i> by Fyresite.com</a></p>
            </div>
        </footer>