<!-- *START* Views/users/show_feed.html.erb  -->
<!-- Start of regular page Show_feed-->
<% provide(:title, @title) %>
  <div class="container_profile">
<!--     <div class="loader">
      <div class="loader-img"></div>
    </div> -->
    <%= render partial: "profile_info" %>
    <div class="center">   
      <%= render file: "users/feed" %>
    </div>
  </div>




  <script type="text/javascript">
    FeedIndex.providers = {twitter: <%= @providers.twitter? %>, instagram: <%= @providers.instagram? %>};
    $(document).ready(function () {
      FeedIndex.initialize();
    });
  </script>
<!-- *End* Views/users/show_feed.html.erb  -->