<% content_for :for_head do %>
  <title>Vue</title>
<% end %>
<style>
.tab-content {
    border-radius: 0px;
    padding: 0px 30px;
}
</style>

<section id="userarea">
  <%= render partial: "profile_info" %>
</section>

<article class="col-xs-12 tab-content">
  <div id='networks'>
    <%= render partial: 'pages/sort_loop_thingy', locals: {pages: @pages} %>
  </div>
</article>
<% if @seen_pages.size > 6 %>
	<div id="add_more_vue_pages">
	  <a href="/users/<%= @user.user_name %>/vue?page=2" class='nextVuePages' style="display:hidden;" data-remote= true></a>
	</div>
<% end %>