<li class="left clearfix">
	<span class="comment-img pull-left">
  	<%= image_tag comment.user.avatar(:thumb) %>
  	<%= comment.user.user_name %>
	</span>
  <div class="comment-body clearfix"><!-- 
    <div class="header">
      <strong class="primary-font"></strong> 
      <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
    </div> -->
    <p>
  		<%= comment.body %>
    </p>
  </div>
</li>
