<li class="left clearfix">
  <span class="chat-img pull-left">
    <%= link_to image_tag(comment.user.avatar(:thumb), class: "user_profile_picture"), feed_user_path(comment.user) %>
  </span>
  <div class="chat-body clearfix">
    <div>
      <strong class="primary-font">
        <%= comment.user.user_name %>
      </strong> 
<!--       <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time"></span>12 mins ago
      </small> -->
    </div>
      <p>
        <%= comment.body %>
      </p>
  </div>
</li>