<li class="left clearfix">
  <span class="chat-img pull-left">
    <%= image_tag comment.user.avatar(:thumb) %>
  </span>
  <div class="chat-body clearfix">
    <div>
      <strong class="primary-font">
        <%= comment.user.user_name %>
      </strong> 
<!--       <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time"></span>12 mins ago
      </small> -->
    </div>
      <p>
        <%= comment.body %>
      </p>
  </div>
</li>