<% @nfuse_pages.each do |shout| %>

  <div class="visible-md visible-lg individual_post item nfuse_post ">
    <%#= shout.inspect %>
    <% if !shout.url.blank? %>
      <p> <%= shout.url_html %></p>
    <% else shout.is_pic? %>
      <p class="timeline-user-box">
        <%= image_tag shout.url %>
      </p>
    <% end %>
  </div>
<% end %>