<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This user <%= @user.first_name %></h1>
    <p>
      Made a forum post<br/>
    </p>
    <% unless @page.nil? %>
      <p>ULR: <%= link_to "#{@page.page_name}", page_url(@page)  %></p><br>
    <% end %>
    <% unless @comment.url.blank? %>
      <p>
        <%= @comment.url_html %>
      </p>
    <% end %>
    <% unless @comment.body.blank? %>
      <p>
        <%= @comment.body %>
      </p>
    <% end %>
    <p>Have a great day!</p>
  </body>
</html>