<%# this_is_it = pages.sort_by {|a, b| -Impression.where(action_name: a.to_s, user_id: current_user.id).count} %>
<% unless @pages.empty? %>
  <% pages.each do |page| %>
      <%# byebug %>
    <!-- PROFILE -->
    <div class="individual_profile col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a href="/pages/<%= page[:page].page_name %>">
        <div class="profile-head">
          <p><%= truncate(page[:page].full_name, length: 19) %></p>
        </div>
        <%= image_tag(page[:image]) %>
      </a>
    </div>
  <% end %>
<% else %>
<p>
There aren't any pages in this category yet.
</p>
<p>
Fill out the form and let us know what should go here
</p>
<% end %>
<!-- REQUEST ADDITIONAL -->
<div id="request" class="individual_profile col-xs-12 col-sm-8 col-md-6 col-lg-">
  <div class="vcenter">
    <div class="vcell">
      <button type="button" class="btn btn-default default" data-toggle="modal" data-target="#requestmodal">Request Missing</button>
    </div>
  </div>
</div>