<% @test_pages.each do |val| %>
    <div class="col-sm-2 col-sm-offset-1 individual_post item">
      <div class="features-box-icon">
        <%= link_to image_tag("#{val[1][:image]}.jpg", size: "150x150", title: "#{val[1][:full_name]}"), "#{val[1][:path]}" %>
      </div>
    </div>
<% end %>