<% provide(:title, 'About Us') %>
<div id="content-box">
	<h1>About Us</h1>

	<h2>About Nfuse</h2>
	<p>Nfuse is a young startup that is pioneering new types of social aggregation. What we are doing is completely different than any of today’s social platforms. The market Nfuse will serve is vast and the need is significant, so we have an extremely exciting opportunity ahead of us! We are still in stealth mode, so contact us to find out more, and we are confident you will see that what we are doing is visionary and exciting. We are building up our team now, and we are looking to hire the absolute best. </p>

	 
	 
	<h2>About the Founders</h2>
	<p>Ted Martinez and Taylor Owen founded Nfuse, a software company specializing in application and network aggregation. Nfuse is a true “garage” startup, entirely created with zero funding and pure will power. From their garage, the founders took a simply idea of changing the way we use social media to a growing company with endless potential. If you would like to learn more about the founders, please send a message on the <%= link_to "contact page", contacts_path %>.  
	</p>
</div>