<!-- *Start* Views/pages/about.html -->
<style type="text/css">
	.about-padding {
		margin-top: 8vh;
	}

  h3 {
    color: #fff;
  }
</style>

<% provide(:title, 'About Us') %>

<div class="Alignthisorelse">
  <div class="container about-padding">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box wow fadeInUp">
        <div class="form-top-about">
          <div class="form-top-left">
            <h3><strong>About Nfuse</strong></h3>
              <p>Don't mind this page. Ongoing story ; )</p>
          </div>
          <div class="form-top-right">
            <a href="#"><%= image_tag("aboutpagegray.fw.png", size: "65x65") %></a>
          </div>
        </div>
        <div class="form-bottom">
					<form role="form">
						<div class="Alignthisorelse">

							<h4>The Story</h4>
							<p>Nfuse is a young startup that is pioneering new types of social aggregation. What we are doing is completely different than any of today’s social platforms. The market Nfuse will serve is vast and the need is significant, so we have an extremely exciting opportunity ahead of us! We are still in stealth mode, so contact us to find out more, and we are confident you will see that what we are doing is visionary and exciting. We are building up our team now, and we are looking to hire the absolute best. </p>		

							<h4>About the Founders</h4>
							<p>Ted Martinez, Taylor Owen, and Matt Hamada founded Nfuse, a software company specializing in application and network aggregation.With Orion Engleton's help, Nfuse became a true “garage” startup, entirely created with zero funding and pure will power. From their garage, the founders took a simply idea of changing the way we use social media to a growing company with endless potential. If you would like to learn more about the founders or Nfuse, please send a message on the <%= link_to "contact page", contacts_path %>.  
							</p>
						</div>
					</form>
      	</div>
      </div>
    </div>
  </div>
</div>
<!-- *End* Views/pages/about.html -->








