<style>
  .containerThingy {
    margin-top: 10px;
    padding-bottom: 100px;
  }
</style>

<% w = [
'katyperry', 'barackobama', 'taylorswift', 'ladygaga', 'justintimberlake', 'britneyspears', 'kimkardashianwest', 'shakira', 'jenniferlopez', 'selenagomez', 'arianagrande', 'demilovato', 'jimmyfallon', 'lebronjames', 'adele', 'brunomars', 'aliciakeys', 'mileyraycyrus', 'nickiminaj', 'emmawatson', 'neilpatrickharris', 'davidguetta', 'conanobrien', 'khloekardashian', 'kourtneykardashian', 'christinaaguilera', 'beyonce', 'oprahwinfrey', 'johnnydepp', 'scarlettjohansson', 'madonna', 'tomhanks', 'jessicaalba', 'meganfox', 'tigerwoods', 'blakelively', 'leonardodicaprio', 'emmastone', 'jayz', 'ellendegeneres', 'sandrabullock', 'ashleygreene', 'natalieportman', 'jenniferlawrence', 'katebosworth', 'camerondiaz', 'milakunis', 'floydmayweather', 'reesewitherspoon', 'kateupton', 'peterdinklage'] %>

<% m = Page.where(page_name: w).pluck(:page_name)%>

<section id="profile-grid" class="container-fluid">
  <%= render partial: 'pages/sort_loop_thingy', locals: {m: m} %>
</section>
<!-- Footer -->
<footer>
  <div class="container text-center">
   <p>&copy; Nfuse LLC. 2015. Made with <a href="#"><i class="fa fa-heart-o"></i> by Fyresite.com</a></p>
  </div>
</footer>