<style>
  .containerThingy {
    margin-top: 10px;
    padding-bottom: 100px;
  }
</style>

<% w = ['armanifashion', 'burberryfashion', 'calvinkleinfashion', 'chanel', 'christiandior', 'christianlouboutin', 'dolceandgabbana', 'dkny', 'escada', 'fendi', 'guccifashion', 'prada', 'hugobossfashion', 'johnvarvatos', 'laperlalingerie', 'louisvuitton', 'manoloblahnik', 'missoni', 'ralphlaurenfashion', 'rolandmouret', 'stellamccartney', 'tomford', 'versace', 'michaelkors' ] %>

<% m = Page.where(page_name: w).pluck(:page_name)%>

<section id="profile-grid" class="container-fluid">
  <%= render partial: 'pages/sort_loop_thingy', locals: {m: m} %>
</section>

<script>
$(document).ready(function() {
  $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
});
</script>