<!-- *Start* Views/pages/help.html -->
<% provide(:title, 'Help') %>
<div class="container">
	<div class="containerMain">
<h1>Help</h1>
<p> Here at Nfuse we try to make your experience the best possible. If this page can not answer your quesion, please contact us and we will personally respond to you. Thank you for using Nfuse.</p>

<h2>Home</h2>
	<strong>Hub-</strong>This section is where all the post from the people you follow are displayed in one central place.<br>
	<strong>Explore-</strong>This section is where you can find interesting post from people you are not currently follow.<br>
	<strong>Notifications-</strong>This section is where all your main notifications will be displayed for you.<br>

<h2>Profile</h2>
	<strong>Feed-</strong> This is the main cummulation of your post from Nfuse and anyother social sites.<br>
	<strong>Bio-</strong> This section is the main archive of all your basic information.<br>
	<strong>Media-</strong> This is where all your pictures and videos are placed in one central place.<br>
	<strong>Following-</strong> This is where all the users you are following are located and displayed.<br>
	<strong>Followers-</strong> This is where all the users that are following you are located and displayed.<br>


<h2>Messaging</h2>
	<strong>Chat-</strong> This section is where you can access your current conversations and chat with the people you are following.<br>

<h2>Posting</h2>
	<strong>Pic-</strong> A pic is a easy way to post a picture to Nfuse and share it with your followers.<br>
	<strong>Snip-</strong> A snip is a easy way to post a video to Nfuse and share it with your followers.<br>

<h2>Menu</h2>
<strong>Settings-</strong>This section is the main part for you to edit your profile, account info, bio, and networks.<br>
<strong>Help-</strong> If you are reading this you are on the help page and its here to help you.<br>
<strong>Feedback-</strong> This section is designed for you to provide additional feedback to the creators of Nfuse so we can Nprove your Nfuse experience.<br>
<strong>Log out -</strong> This button detroys your session and redirects you to the home page.<br>

<h2> Home Page/ Logged out </h2>
	<strong>Landing Page-</strong> This is the main introduction page to the site.<br>
	<strong>Sign up page-</strong> This section is where you can create a new account with Nfuse and join our amazing community.<br>
	<strong>Log in page-</strong> This section is where you can access your account. If you have trouble loging in please follow the password help section.<br>
	<strong>About-</strong> This section is where we attempt to explain what our company does.<br>
	<strong>Contact-</strong> This section is an easy place for you to send the Nfuse team anything you want to discuss or learn more about. We are here to Nprove your Nfuse experience.<br>
	<strong>Privacy-</strong> This section explains all your privacy rights and terms of use. Please check this page everytime you log in, we may make changes periodically.<br>



<!--
<h2>Q and A </h2><br>

What is Nfuse?<br><br>

How do I change my profile picture?<br><br>

How do you change your user name?<br><br>

How do you edit your bio page?<br><br>

What happens when I follow another user?<br><br>

What do other users see on my profile?<br><br>

How do I add or remove a network (social media site)?<br><br>

How do I find other users?<br><br>

How do I report a problem with Nfuse?<br><br>


How do I contact Nfuse? <br><br>
Go <%= link_to "here", contacts_path %><br><br>


How do I remove someone I am following?<br><br>
Go to your profile, click the "following" tab under your profile picture. Find the person/s you are looking for and click their name to go to their profile. On their profile there will be a button that says "Unfollow". Click it and you will no longer be following that person. <br><br>


How do I change the content in my omnix page?<br><br>
IDK<br><br>






What happens if I forget my password?<br><br>
Go to the login page. Click "forgot password". Enter the email you have associated with your Nfuse &#169 account and hit send, an email will be sent to the email you put in with a link to change your password. Click the link and change your password. You will be redirected to the home page. Enter your email and new password and hit submit.<br>


What happens if I cannot log in? If you cannot log in you cannot read this… but you could if you go to nfuse.it/help

-->
</div>
</div>
<!-- *End* Views/pages/help.html -->