<% provide(:title, 'Help') %>
<div id="content-box">
<h1>Help</h1>
<p> Intro Par... </p>

<h2>Home</h2>
	<strong>Hub-</strong>This section is where all the post from the people you follow are displayed in one central place.<br>
	<strong>Explore-</strong>This section is where you can find interesting post from people you are not currently follow.<br>
	<strong>Notifications-</strong>This section is where all your main notifications will be displayed for you. <br>

<h2>Profile</h2>
	<strong>Picture-</strong> This is a great place to talk about..<br>
	<strong>Feed-</strong> This is a great place to talk about..<br>
	<strong>Bio-</strong> This is a great place to talk about..<br>
	<strong>Media-</strong> This is a great place to talk about..<br>
	<strong>Following-</strong> This is a great place to talk about..<br>
	<strong>Followers-</strong> bla vla i love talking about followers<br>


<h2>Messaging</h2>
	<strong>Chat</strong> bla vla i love talking about followers<br>

<h2>Posting</h2>
	<strong>Pic-</strong><br>
	<strong>Snip-</strong><br>

<h2>Menu</h2>
<strong>Settings-</strong> bla vla i love talking about followers<br>Settings-<br>
<strong>Help-</strong> bla vla i love talking about followers<br>
<strong>Feedback-</strong> bla vla i love talking about followers<br>Help-<br>
<strong>Log out -</strong> bla vla i love talking about followers<br>

<h2> Home Page/ Logged out </h2>
	<strong>Landing Page-</strong> bla vla i love talking about followers<br>
	<strong>Sign up page-</strong> bla vla i love talking about followers<br>
	<strong>Log in page-</strong> bla vla i love talking about followers<br>
	<strong>About-</strong> bla vla i love talking about followers<br>
	<strong>Contact-</strong> bla vla i love talking about followers<br>
	<strong>Privacy-</strong> bla vla i love talking about followers<br>



<h2>Q and A </h2><br>

What is Nfuse?<br><br>

How do I change my profile picture?<br><br>

How do you change your user name?<br><br>

How do you edit your bio page?<br><br>
Edit button<br><br>

Settings<br><br>

What happens when I follow another user?<br><br>
Their feed shows up on you hub<br>
Can I delete my account?<br><br>
NO<br>

What do other users see on my profile?<br><br>
Everything<br><br>


How do I add or remove a network (social media site)?<br><br>
IDK<br><br>


How do I find other users?<br><br>
Searching<br><br>

Explore<br><br>


How do I report a problem with Nfuse?<br><br>


How do I contact Nfuse? <br><br>
Go <%= link_to "here", contacts_path %><br><br>


How do I remove someone I am following?<br><br>
Go to your profile, click the "following" tab under your profile picture. Find the person/s you are looking for and click their name to go to their profile. On their profile there will be a button that says "Unfollow". Click it and you will no longer be following that person. <br><br>


How do I change the content in my omnix page?<br><br>
IDK<br><br>






What happens if I forget my password?<br><br>
Go to the login page. Click "forgot password". Enter the email you have associated with your Nfuse &#169 account and hit send, an email will be sent to the email you put in with a link to change your password. Click the link and change your password. You will be redirected to the home page. Enter your email and new password and hit submit.<br>
Side note - You have two hours from when you submit the request to change your email to respond to the email or else the link will become invalid and you'll have to send another request to change your password. <br>

What happens if I cannot log in? If you cannot log in you cannot read this… but you could if you go to nfuse.it/help



</div>