<!-- Start of regular landing page -->
<% if signed_in? %>
<div class="center container">
  <div class="containerMain center">
  <h1>Hub</h1>
      <ul class="hubTabs" role="tablist">
        <li class="tab"><a href="#home" class="tabLink" role="tab" data-toggle="tab">Hub</a></li>
        <li class="tab"><a href="#profile" class="tabLink" role="tab" data-toggle="tab">Explore</a></li>
      </ul>
      <script> 
        $('.tabLink').click(function() {
          //alert('tab clicked');
          $('.tabLink').removeClass('activeTab');
          $(this).addClass('activeTab');

        });
      </script>
      <div class="tab-content">
        <div class="tab-pane active" id="Hub">
            <div class="span8">
              <h1><%= @title %></h1>
            </div>
        </div>
        <div class="tab-pane" id="Explore">
        </div>
      </div>
    </div>
  </div> 
<% else %> 

<div class="center">
<div class="center containerHome">
  

    <%= image_tag "Banner-logo.png", id: "banner"%>
 

    <h2 class="hero-text">
      "A Simpler Way To Connect"
    </h2>
    <div class="button" id="signupButton">
    <%= button_to "Join Nfuse", signup_path,
                              :class => "button", :method => :get %>
    </div>
    <div class="button" id="aboutButton">
    <%= button_to "Learn More", about_path,
                             :class => 'button', :method => :get %>
    </div>
    
  
                           
</div>

  <div class="containerContent">
  <div class="span_1_of_3 col">
    <h3 class="about">About</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor quam in turpis pretium finibus. Vivamus ex libero, pretium ut diam eu, lacinia dapibus risus. Aenean varius fermentum egestas.</p>
  </div>
  <div class="col span_1_of_3">
    <h3 class="about">Features</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor quam in turpis pretium finibus. Vivamus ex libero, pretium ut diam eu, lacinia dapibus risus. Aenean varius fermentum egestas. </p>
  </div> 
  <div class="col span_1_of_3">
      <h3 class="about">NFusers</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor quam in turpis pretium finibus. Vivamus ex libero, pretium ut diam eu, lacinia dapibus risus. Aenean varius fermentum egestas. </p>
    </div>  
    </div>

  </div> <!-- lower container -->
  <% end %>