<section id="profile-grid" class="container-fluid">  
	<% @pages.each do |page| %>
	  <!-- PROFILE -->
	  <div class="individual_profile col-xs-6 col-sm-4 col-md-3 col-lg-2">
	    <a href="/pages/<%= page.page_name %>">
	      <div class="profile-head">
	        <p><%= page.thing_name %></p>
	      </div>
	      <%= image_tag("#{page.twitter_handle}.jpg") %>
	    </a>
	  </div>
	<% end %>
	<!-- REQUEST ADDITIONAL -->    
	<div id="request" class="individual_profile col-xs-12 col-sm-8 col-md-6 col-lg-">
	  <div class="vcenter">
	    <div class="vcell">
	      <button type="button" class="btn btn-default default" data-toggle="modal" data-target="#requestmodal">Request Missing</button>
	    </div>
	  </div>
	</div>
</section>

<script>
$(document).ready(function() {
  $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
});
</script>