<section id="profile-grid" class="container-fluid">
  <%= render partial: 'pages/sort_loop_thingy', locals: {pages: @pages} %>
</section>

<script>
$(document).ready(function() {
  $('body.nosearchbar').removeClass('nosearchbar').addClass('searchbar')
});
</script>