<!-- *START* Views/users/index.html.erb  -->
<% provide(:title, 'Notifications') %>

<div id="content-box">
  <h1>Notification</h1>
  <p>Orion. This is the page notifiations' is gonna go into</p>
</div>
<!-- *End* Views/users/index.html.erb  -->