<% provide(:title, 'Contact') %>
<h1>Q and A</h1>
<p>
  This is a static page that will end with a link to the <%= link_to "feedback", feedback_path %> page but I will put together to top questions and send it to you once you paste it in there I will style the page when we meet! If all the items are done we can meet up and I can work on the style but beside that we are literally done with 1.0 and need to celebrate!
</p>
