<h2>What do you think about this page or brand?</h2>
 
<p><%= link_to 'Add a Comment', new_page_comment_path(@page) %></p>

<br>
<br>
<br>
<br>



<%= nested_comments @comments %>
<%= render "comments/form" %>