<style>
  .containerThingy {
    margin-top: 10px;
    padding-bottom: 100px;
  }
</style>

<% w = ['realmadrid', 'dallascowboys', 'newyorkyankees', 'barcelona', 'manchesterunited', 'losangeleslakers', 'newenglandpatriots', 'newyorkknicks', 'losangelesdodgers', 'washingtonredskins', 'bayernmunich', 'bostonredsox', 'newyorkgiants', 'chicagobulls', 'sanfranciscogiants', 'houstontexans', 'chicagocubs', 'newyorkjets', 'philadelphiaeagles', 'bostonceltics', 'chicagobears', 'losangelesclippers', 'sanfrancisco49ers', 'baltimoreravens', 'brooklynnets', 'denverbroncos', 'indianapoliscolts', 'stlouiscardinals', 'greenbaypackers', 'manchestercity', 'chelsea', 'ferrari', 'newyorkmets', 'pittsburghsteelers', 'seattleseahawks', 'arsenal', 'goldenstatewarriors', 'losangelesangelsofanaheim', 'miamidolphins', 'torontomapleleafs', 'washingtonnationals', 'carolinapanthers', 'houstonrockets', 'philadelphiaphillies', 'tampabaybuccaneers', 'texasrangers', 'miamiheat', 'tennesseetitans', 'atlantabraves', 'minnesotavikings', 'arizonacardinals'] %>

<% m = Page.where(page_name: w).pluck(:page_name)%>

<section id="profile-grid" class="container-fluid">
  <%= render partial: 'pages/sort_loop_thingy', locals: {m: m} %>
</section>