<style>
  .containerThingy {
    margin-top: 10px;
    padding-bottom: 100px;
  }
</style>
<%= paginate @test_pages %>
<div class="center">
<%= render partial: 'pages/test_pages', locals:{p: @test_pages} %>
</div>

