<style>
  .containerThingy {
    margin-top: 10px;
    padding-bottom: 100px;
  }
</style>

<% w = ['drewbinsky', 'budgettravel', 'afar', 'travelandleisure', 'condenasttraveler', 'geographical', 'nationalgeographic', 'wanderlust'] %>

<% m = Page.where(page_name: w).pluck(:page_name)%>

<section id="profile-grid" class="container-fluid">
  <%= render partial: 'pages/sort_loop_thingy', locals: {m: m} %>
</section>
<!-- Footer -->
<footer>
  <div class="container text-center">
   <p>&copy; Nfuse LLC. 2015. Made with <a href="#"><i class="fa fa-heart-o"></i> by Fyresite.com</a></p>
  </div>
</footer>