<!-- *Start* Views/contacts/create.html -->
<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
        <p>We appreciate the feedback</p>
</div>
<!-- *End* Views/contacts/create.html -->