<div class="col-md-8 col-md-offset-2">
  <%= form_tag search_path, method: 'get', class: "search-form" do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Users with @user. Hashtags with #hashtag" %>
    </div>
  <% end %>
</div>
