<div class="col-sm-12 center" >
  <%= form_tag search_path, method: 'get', class: "content-search-bar" do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Users with @user. Hashtags with #hashtag" %>
  <% end %>
</div>
