<div class="individual_profile col-xs-6 col-sm-4 col-md-3 col-lg-2">
  <a href="/users/<%= user.user_name %>/feed">
    <div class="profile-head">
      <p><%= truncate(user.user_name, length: 18, omission: '') %></p>
    </div>
    <div>
    <% if user.avatar_file_name.present? && user.avatar_file_name.include?('graph.facebook.com') %>
      <%= image_tag user.avatar_file_name %>
    <% else %>
      <%= image_tag user.avatar.url(:large) %> 
    <% end %>
    </div>
  </a>
</div>