<!-- *Start* Views/searches/index.html -->
<% provide(:title, 'Search') %>
<ul class="users span4">
  <%= render @users %>
</ul><!--
<div class="starter-template">
	<form class="form-inline" role="form">
	  <div class="form-group">
	    <input type="text" class="form-control  input-lg" id="search" placeholder="Search Nfuse">
	  </div>
	</form>
</div> -->
<!-- *End* Views/searches/index.html -->