<style>
.no_timeline_padding {
	margin-top: 75px
}

.yes_timeline_padding {
	margin: 10px;
}
</style>

<% if signed_in? %>
<div class="row">
	<%= render partial: "searches/show"%>
</div>
<% end %>
<% if @timeline.present? %>
	<div id="masonJar" class="clearfix masonJar yes_timeline_padding">
	  <% @timeline.each do |post| %>
			<%= render partial: "searches/post", locals: {post: post} %>
	  <% end %>
		<% if !signed_in? %>
			<div class="item">
				<%= link_to 'Sign up now', signup_path, class: "btn btn-link-1" %>
			</div>
		<% end %>
	</div>
<% else %>
  <div class="center no_timeline_padding">
    <p> Sorry, We couldn't find anything like that </p>
    <p> Try searching again </p>
    <%= link_to image_tag("sadface.fw.png", size:"100x100"), root_path %>
  </div>
<% end %>
