<div class="comment">
  <div class="info">
    <%= link_to image_tag(a.owner.avatar(:small), class: "soon_to_be_made_class", size: "32x32", title: "#{ a.owner.full_name}"), feed_user_path(a.owner) %>
    <h4 class="name"><%= a.owner.first_name %></h4>
    <span class="action">commented on a <%= link_to 'post', a.trackable.commentable %></span>
  </div>
  <div class="content">
    <h4><small><%= a.trackable.comment %></small></h4>
  </div>
</div>