<!-- This page is the embedded savascript layout for posting to faceebook and twitter -->
<div id="create_posts_container">
  <form id="create_post_form" action="#" data-behavior="/posts">
    <div style="display:none">
      <input name="utf8" type="hidden" value="&#x2713;"/>
      <input name="authenticity_token" type="hidden" value="sx9Uqe9Rt0WYna5MBqHA/bDQmJJfrE8c/sIUjiQJN/w="/>
    </div>

    <label for="post_content">Post content</label>
    <textarea id="post_content" name="post"></textarea>

    <% if (twitter) { %>
    <label for="provider_twitter">Post to Twitter</label>
    <input id="provider_twitter" name="provider[twitter]" type="checkbox" value="0"/>
    <% } %>

    <% if (facebook) { %>
    <label for="provider_facebook">Post to Facebook</label>
    <input id="provider_facebook" name="provider[facebook]" type="checkbox" value="0"/>
    <% } %>

    <input type="submit" value="Create Post"/>
  </form>
</div>
