 body {
  margin: 0;
  padding: 0;
  background-color: #D2DADD;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
}

  .Alignthisorelse{
    text-align: center;
  }

.footer{
  margin-top: 100px;
  background-color: #777;
  height: 40px;
  width: 100%;
  z-index: 1;
}
.footer_links li {
  margin-left: 40px;
  text-align: center;

}
.footer_links li a{
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
.footer_links li a:hover {
  text-decoration: none;
  color: #87CEEB;
}

h6 {
  color: blue;
}

.user-full-name{
    font-size: 1.8em;
    font-weight: 0;
    line-height: 50px;
  }


.atUserName{
  margin-top: -12px;
  margin-right: 0;
  color:#87CEEB;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 10px;
  font-size: .8em;
  font-style: normal;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: lighter;
  float: left;
  line-height: 0;
}
.edit_profile_link{
  float: right;
  margin: 5px 12px 0 0;
}
.atUserName :visited{
  color:#87CEEB;
  text-decoration: none;
}
.atUserName a {
  text-decoration: none;
}

.container_app_html {
  margin:-10px 0 0 0;
  padding:0;
}
.container {
  margin:0;
  padding:0;
  display: inline-block;
}
.container_profile {
  width:75vw;
  margin:0 12.5% 0 12.5%;
}
.hub {
  width:75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: green;
}
img {
  max-width: 100%;
}
.content_container_app_html {
  margin:0;
  padding:0;
}
.block {
  display: inline-block;
}
.alert {
  background-color: green;
}
/* #Grid =========================================
================================================== */
.containertotalSignup {
  width: 100vw;
  margin:0;
  padding:0;
  display: center;
}
.center {
  margin:auto;
  text-align: center;
}
.item{
  height: auto;
  margin: 0 0 20px 0;
  position: relative;
  z-index: 1;
}
.containerMain{
  width: 75vw;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 15px;
}
.containerSignup{
  max-width: 480px;
  min-width: 480px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 0;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.containerLogin{
  max-width: 480px;
  min-width: 480px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 0px;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.containerhelp{
  max-width: 40vw;
  min-width: 480px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 0px;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.containerprivacy{
  max-width: 40vw;
  min-width: 480px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 0px;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.containerabout{
  max-width: 40vw;
  min-width: 480px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 0px;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.containercallbacks{
  max-width: 33vw;
  min-width: 480px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 0px;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.container_avatar_wizard{
  max-width: 33vw;
  min-width: 480px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 0px;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}


/* ========== sections ========== */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/* ========== grouping ========== */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/* ========== col  ========== */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
/* #Header
================================================== */
.loginForm {
  margin-top: 0;
  width: 300px;
  display: inline;
}
ul{
list-style-type:none;
}
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}

.login_form_height{
  max-height: 36px;
  padding-top: 4px;
}

.login_form_position{
  padding-top: 4px;
}

#menu ul li a {
  display:block;
  min-width:50px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
 // background-color: rgba(47,48,54,0.8); //#2f3036; 
  text-decoration: none;
}
#menu ul li:hover a{
  color: #87CEEB;
}
#menu ul li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
li ul {
  display: block;
  margin-top: 18px;
  background-color: rgba(47,48,54,0.8); //#2f3036; 
}
li ul li {
  display: hidden;
  float: none;
}
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0;
}
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}
.drop{
  margin-top: 50px;
}
.headerBack {
  background-color: rgba(47,48,54,0.8); //#2f3036; 
  height: 60px;
  width: 100vw;
  margin: 0;
  position: fixed;
  z-index: 5;
  top: 0;
}
.Ourfuckinthing {
  height:70px;
  width: 70vw;
}
.headerInput {
  display: inline;
  float: right;
  width: 100px;
  height: 30px;
}
.headerInput span input {
  background-color: white;
}
.header {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: inline;
  position: fixed;
  margin-bottom: 0;
  z-index: 5;
}


.tilt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.tilt:hover {
 -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
   box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.8);
}
.activeNavIcon{
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  -webkit-filter: grayscale(100%);
}
.header_inLineLeft .inLineRight {
  width: 50%;
  display: inline;
}
.header_inLineLeft ul li {
  margin-top: 4px;
  margin-right: 20px;
  margin-left: -37px;
}
.header_inLineLeft {        /*---Logo in Here---*/
  float: left;
  margin: 1px 0 0 0;
}
.inLineRight {
  float: right;
  margin: 15px;
}
.inLineRight span {
  float: left;
}
#menu li {
  display:block;  
  margin:0 5px 0 0;
}
.menuDropdown li{
  z-index:3;
}
.menuDropdown {
  position: fixed;
  right: 13vw;
  overflow:show;
  top: 42px;
  z-index: 3;
}
.iconBar {
  position: fixed;
  right: 12.5vw;
  top: -2px;
  margin-bottom: 0;
}

/* #Search
=============================================== */

.search-bar input{
  height: 34px;
  margin-top: 16px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1.2em;
  text-align: left;
}
.search-bar input[type="text"]{
   padding: 7px 5px 5px 2px; 
   line-height: 28px; 
 }
/* #Home
=============================================== */
.banner {
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}
#hero-text {
  padding: 20px;
  margin: 20px;
}
.containerHome {
  background-color: grey;
  width: 75%;
  height: 400px;
  padding-top: 40px;
}
.containerContent {
  border: 1px solid grey;
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
}
.hero-text {
  margin:auto;
  margin-left:33.5vw;
}
/* #Buttons
================================================== */
#Button, #aboutButton {
  display: inline-block;
  width:50px;
  margin-left:0px;
  margin-right:0;
}
#signupButton {
  margin-left:40vw;
  height:30px;
}
#aboutButton {
  margin-left:3.5vw;
}
.button:hover{
  background-color: #87CEEB;
}
.button {
 background: #999999;
 width: 100px;
 height: 30px;
 text-decoration: none;
 border: 0px solid white;
 display: inline-block;
}
.editButton {
  height: 50px;
}
#loginButton {
  height: 30px;  
  display: inline;
  float: right; 
}
.signupBtn {
position: relative;
width: 240px;
height: 40px;
padding: 0;
font-size: 1.6em;
color: white;
margin-right: auto;
margin-left: auto;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #87ceeb;
border: 0;
cursor: pointer;
}
.loginBtn {
position: relative;
width: 100px;
height: 40px;
padding: 0;
font-size: 1.6em;
color: white;
margin-right: auto;
margin-left: auto;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #87ceeb;
border: 0;
cursor: pointer;
}
.contactBtn {
position: relative;
width: 100px;
height: 40px;
padding: 0;
font-size: 1.6em;
color: white;
margin-right: auto;
margin-left: auto;
margin-top: -20px;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #87ceeb;
border: 0;
cursor: pointer;
}
.feedbackBtn {
position: relative;
width: 200px;
height: 40px;
padding: 0;
font-size: 1.6em;
color: white;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #87ceeb;
border: 0;
cursor: pointer;
}
.settingsaveBtn {
position: relative;
width: 180px;
height: 40px;
padding: 0;
font-size: 1.6em;
color: white;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #87ceeb;
border: 0;
cursor: pointer;
}
.followBtn {
position: relative;
width: 100px;
height: 30px;
padding: 0;
font-size: 1.6em;
color: white;
margin-top: 0px;
margin-right: auto;
margin-left: auto;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #87ceeb;
border: 0;
cursor: pointer;
}
.unfollowBtn {
position: relative;
width: 110px;
height: 30px;
padding: 0;
font-size: 1.6em;
color: white;
margin-top: 0px;
margin-right: auto;
margin-left: auto;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #D2DADD;
border: 0;
cursor: pointer;
}
.createpostBtn {
position: relative;
width: 160px;
height: 34px;
padding: 0;
font-size: 1.6em;
color: white;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
background: #87ceeb;
border: 0;
cursor: pointer;
}
/* #Settings
================================================== */
#settingsTable {
  background-color: white;
  margin: auto;
  padding-left: 90px;
  border-radius: 25px;
  border: 2px solid #ccc;
}
tr {
  padding: 20px;
  margin: 20px;
}
td {
  padding: 20px;
  margin: 20px;  
}
/* #Tables 
================================================== */
.signupTable {
  margin: 0;
  padding:0;
  font-weight: bold;
}

.loginTABLE {
  margin: 0;
  padding:0;
  font-weight: bold;
}
.floatRight {
  float:right;
}
.hidden{
  display: hidden;
}
/* #Users
================================================== */
.follow-btn li h4 a{
  text-decoration: none;
  color: black;
}
.follow-btn li h4 {
  margin: 0;
  padding: 0;
}
.follow-btn li {
  margin: 2px;
  padding: 0px 0px 2px 0px;
  height:25px;
  font-size: 1.6em;
  display: block;
}
.chatButton {
  margin: 0;
  right: 5px;
  bottom: 10px;
  position: absolute;
}
.follow-btn{
  margin: 0;
  padding:0;
  height: 50px;
}
.follow-btn li h4 a:hover {
  text-decoration: none;
  color: #87CEEB;
}
.box-main {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
}
#masonJar {
  margin-right: auto;
  margin-left: 1vw;
}
.userFeedBox {
  background-color: blue;
  height: 400px;
  margin-bottom: 0px;
  display: inline-block;
}
.thumbnail{
  margin: 0;
  padding: 0;

}
#profile-picture {
  margin-top: -225px;
  margin-left: 35px;
  width: 200px;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
}
.profile_bar{
  background-color: white;
  height:66px;
  margin-top: -40px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 20px;
}
.profile_bar .inLineLeft {
  width: 30%;
  margin-left: 35px; 
  margin-top: -4px;
  float: left;
}

.profile_bar .stats {
  text-align: center;
  overflow: visible;
  float: left;
  display: inline-block;
  /*height: 40px;*/
  position: absolute;
  width: 40%;
  margin: 0 auto;
  padding: 36px 0 0 0;
}

.profile_bar .inLineRight{
  margin: 30px 0 0 0;
  padding: 0;
  width: 18%;
}
.profile_nav_links li {
  margin-right: 25px;
}
.profile_nav_links li a{
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  color: #888;
}
.profile_nav_links li a:hover {
  text-decoration: none;
  color: #87CEEB;
}
/* #Hub
================================================= */
.tab {
  height: 40px;
  width: 80px;
  color: white;
  text-decoration: none;
}
.tabLink {
  color: white;
  text-decoration: none;
}
.tabLink:visited {
  color: white;
  text-decoration: none;
} 
.tabLink:hover {
  color: #f3f3f3;
}
.activeTab {
  background-color: #87CEEB;
  color: black;
}
.hubTabs {
  background-color: rgba(47,48,54,0.8);
  position:absolute;
  right: 22.4vw;
  top: 84px;
}
.hub_container {
  margin: 0 0 0 0;
}
.explore_container{
  margin: 0;
}
.search_container {
  margin: 50px 0 0 0;
  padding: 0 12.5vw 0 12.5vw;
}
/* #Posts
================================================= */
.individual_post {
  max-width: 400px;
}
.item .right {
  margin: auto;
}
.uploads{
  height: 200px;
  width: 100%;
}
.upload_list{
  width: 30%;
}
.upload_medium{
  display: inline;
  height: 200px;
  background-color: white;
}
.upload_medium ul{
  background-color: white;
}
.upload_medium ul li{
  display:block;
  background-color: white;
}
#player-wrapper {
  display: none;
}
.twitter_post {
  overflow: hidden;
  border-bottom: 5px solid rgba(64,153,255,0.8);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.nFuse_post {
  overflow: hidden;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.instagram_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(205,179,139,0.8);
}
.facebook_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(59,89,152,0.8);
}
.youtube_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(59,89,152,0.8);
}
.gplus_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(59,89,152,0.8);
}
.vimeo_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(59,89,152,0.8);
}
.flickr_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(59,89,152,0.8);
}
.tumblr_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(59,89,152,0.8);
}
.faved_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(205,179,139,0.8);
}
#content-box-profile {
 height: 100vh;
 top: 0;
}
.post_main{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  height: auto;
}
.post_header{
  margin:0;
  padding: 0;
  text-decoration: none;
  height: auto;
  display: inline;
  list-style-type: none;
}
.post_header li{
  display: inline;
  color: green;
  padding: 0;
}
.provider_logo{
  margin: 0;
  padding: 0;
}
.instagram_provider_logo{
  margin: 0;
  padding: 0;
}
.user_profile_picture{
  margin: 0 5px 2px 0;
  padding: 0;
  border-radius: 50px;
}
.user_profile_picture_header{
  margin: 0 5px 0 0;
  padding: 0;
  border-radius: 50px;
}
.user_name :hover{
  color: black;
}
.user_name{
  margin: 20px 0 0 0;
  font-size: 1.8em;
  padding: 20px 0px 0px 20px;
  margin: auto;
}
.user_link {
  background-color: white;
  padding: 10px;
}
.post_content{
  margin: 0;
  //border: 2px dotted pink;
  padding: 0px;
  margin: auto;
}
.image_post{
  border-radius: 0px;
  margin: auto;
  max-width: 400px;
}
.post_footer{
  height: 20px;
  padding-bottom: 30px;
}
.vr{
  height: 20px;
}
.timeStamp{
  font-size: .6em;
  display: inline;
  padding: 0 0 15px 0;
}
.post_actions{

}
.post_actions li{
  padding-left: 4%;
}
.right{
  //float: right;
  //margin: 0;
  //right:0;
  top:0;
  padding: 0;
}
.yt_link {
float: right;
}
/* #Seccondnav 
=================================================== */
.subNav {
  background-color: rgba(135,206,235,0.8);
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 0;
  margin: 0px 0 10px 0;
}
.subNavList {
  width: 75%;
  margin: 0 12.5% 0 12.5%;
}
.subNavList li {
  margin: .5vh 2vw 0 2vw;
}
/* #Youtube videos
=================================================== */
.yt_link {
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
 }
.yt_link img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.whiteBox{
  background-color: white;
  max-width: 400px;

}
/* ========== media query ==========  */
/*=
1900 - 6
1575 -5
=*/
/*@media only screen and (max-width: 1899px){
   .individual_post {
  border-radius: 15px;
  width:17%;
  }
}
@media only screen and (max-width: 1574px){
   .individual_post {
  border-radius: 15px;
  width:22%;
  }
}
@media only screen and (max-width: 1249px){
   .individual_post {
  border-radius: 15px;
  width:30%;
  }
}
@media only screen and (max-width: 966px) {
  .individual_post {
  border-radius: 15px;
  width:45%;
  }
}

@media only screen and (max-width: 720px) {
  .individual_post {
  border-radius: 15px;
  width:100%;
  }
}
*/
.chatbox {
    position: fixed;
    position: expression("absolute");
    width: 280px;
    display: none;
}

.chatboxhead {
    background: #666;
    color: white;
    padding: 0.5rem;
    overflow: hidden;

    border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);
}

.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}

.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    font-family: arial, sans-serif;
    height: 280px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
}

.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.chatboxcontent .avatar {
    width: 40px;
    position: relative;
}

.chatboxcontent .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
    width: 262px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}

.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;

}

.chatboxoptions {
    float: right;
}

.echatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chatboxtitle {
    float: left;
}

.explore_filters {
  margin: 4px 0 0 30vw;  
  padding: 0;
  height:30px;
  
}
.explore_filters ul {
  margin: 0 32%;
  display: block;
  height: 30px;
}

#search-picture {
  margin-top: 2px;
  margin-left: 2px;
  width: 200px;
  border: 1px solid black;
  border-radius: 0px;
  padding: 1px;
  background-color: white;
}

/* #Bootstrap random   =================================================== */

strong { font-weight: 500; }

a, a:hover, a:focus {
  color: #87ceeb;
  text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
  font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.intro-par {
  font-size: 24px;
}

.ready-par { 
  font-size: 18px;
  }

img { max-width: 100%; }

.medium-paragraph {
  font-size: 18px;
  line-height: 32px;
}

.blue { color: #87ceeb; }

::-moz-selection { background: #87ceeb; color: #fff; text-shadow: none; }
::selection { background: #87ceeb; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden !important;
  z-index: 99999;
}

.loader-img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  width: 60px;
  height: 60px;
  background: url(loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
  color: #fff;
}

.section-container-image-bg .divider-1 span {
  background: #fff;
}

.section-description {
  margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
  padding: 0 120px;
}
.section-container-image-bg .section-description p {
  opacity: 0.8;
}

.section-bottom-button {
  padding-top: 60px;
}

.btn-link-1 {
  position: relative;
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #87ceeb;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.1);
}

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


.btn-link-login {
  position: relative;
  display: inline-block;
  max-height: 36px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #87ceeb;
  font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-login:hover, .btn-link-login:focus, .btn-link-login:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-login:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.navbar-form button[type="submit"]{
  padding: 5px 5px;
  line-height: 28px; 
}

/***** Divider *****/

.divider-1 span {
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #555;
}
.divider-2 span {
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #fff;
}

/***** Modal *****/

.modal-content {
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  text-align: left;
}

.modal-body {
  padding: 0 25px 15px 25px;
}

.modal-body img {
  margin-bottom: 15px;
}

.modal-header {
  padding: 25px 25px 15px 25px;
}

.modal-footer {
  padding: 15px 25px 25px 25px;
}

.modal-header, .modal-footer { border: 0; }

.modal-header .close {
  font-size: 36px;
  color: #888;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}

.modal-footer button {
  height: 50px;
  margin: 0;
    padding: 0 20px;
  background: none;
  border: 1px solid #888;
  font-size: 16px;
    font-weight: 300;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.modal-footer button:hover { outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; }

.modal-footer button:focus, .modal-footer button:active:focus, .modal-footer button.active:focus { 
  outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; 
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-footer button:before {
  background: none;
}



/***** Top content *****/

.inner-bg {
    padding: 120px 0 170px 0;
}

.top-content .text {
  padding-top: 120px;
  color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
  margin-top: 35px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 70px;
  color: #eee;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  text-align: left;
}

.form-bottom-sup-nfusion {
  padding: 1vw 3vw 1vw 3.6vw;
  background: #eee;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form .form-links {
  display: inline-block;
  width: 275px;
  text-align: right;
  vertical-align: top;
}

.form-bottom form .form-links a { color: #888; }
.form-bottom form .form-links a:hover, 
.form-bottom form .form-links a:focus { color: #888; border-bottom: 1px dotted #888; }


/***** Features *****/

.features {
  padding-bottom: 30px;
}

.features-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.features-box-gray {
  background: #f8f8f8;
}

.features-box .features-box-icon {
    font-size: 80px;
    color: #87ceeb;
    line-height: 80px;
}

.features-box h3 {
  margin-top: 15px;
}


/***** More features *****/

.more-features-container {
  padding-bottom: 60px;
}

.more-features-box {
  margin-top: 30px;
  margin-bottom: 20px;
}

.more-features-box-text {
  margin-top: 40px;
  padding-left: 30px;
  overflow: hidden;
  text-align: left;
}
.more-features-box-text:first-child { margin-top: 20px; }

.more-features-box-text-left {
  padding-left: 0;
  padding-right: 30px;
}

.more-features-box-text-icon {
  float: left;
  width: 60px;
  height: 60px;
  padding-top: 6px;
  background: #87ceeb;
  -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.more-features-box-text h3 {
  float: right;
  width: 86%;
  margin-top: 0;
}

.more-features-box-text-description {
  float: right;
  width: 86%;
}


/***** Always beautiful *****/

.always-beautiful-container {
  padding-bottom: 60px;
}

.always-beautiful-box {
  margin-top: 30px;
  margin-bottom: 20px;
}

.always-beautiful-box-text {
  margin-top: 40px;
  padding-left: 30px;
  overflow: hidden;
  text-align: left;
}
.always-beautiful-box-text:first-child { margin-top: 20px; }

.always-beautiful-box-text-left {
  padding-left: 0;
  padding-right: 30px;
}

.always-beautiful-box-text h3 {
  margin-top: 0;
}

.always-beautiful-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}


/***** How it works *****/

.how-it-works {
  padding-bottom: 30px;
}

.how-it-works-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.how-it-works-box .how-it-works-box-icon {
  position: relative;
    font-size: 80px;
    line-height: 80px;
}

.how-it-works-box-icon .how-it-works-step {
  position: absolute;
  top: 0;
  left: 95px;
  width: 32px;
  height: 32px;
  background: #87ceeb;
  -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
  font-size: 24px;
  color: #fff;
    line-height: 32px;
}

.how-it-works-box h3 {
  margin-top: 15px;
}

.how-it-works-box p {
  opacity: 0.8;
}



/***** Call to action *****/

.call-to-action-container .section-bottom-button {
  padding-top: 30px;
}


/***** About us *****/

.about-us-container {
  padding-bottom: 65px;
}

.about-us-box {
  padding-top: 30px;
  padding-bottom: 15px;
}

.about-us-box .about-us-photo {
  position: relative;
  width: 160px;
  margin: 0 auto;
}

.about-us-box .about-us-photo img {
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.about-us-box .about-us-photo .about-us-role {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 3px 5px;
  background: #87ceeb;
  font-size: 14px;
  color: #fff;
  line-height: 15px;
  text-transform: uppercase;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 36px;
    line-height: 36px;
}

.about-us-box .about-us-social a { color: #87CEEB; }
.about-us-box .about-us-social a:hover, .about-us-box .about-us-social a:focus { color: #fff; }



/***** Footer *****/

footer {
  padding: 40px 0 35px 0;
}

.footer-social {
  font-size: 50px;
    line-height: 50px;
}

.footer-social a { color: #87CEEB; }
.footer-social a:hover, .footer-social a:focus { color: #fff; }

.footer-copyright {
  margin-top: 25px;
}
