 body {
  margin: 0;
  padding: 0;
  background-color: #D2DADD;  
}
.container_app_html {
  margin:-10px 0 0 0;
  padding:0;
}
.container {
  width: 100vw;
  margin:0;
  padding:0;
  display: inline-block;
}
.container_profile {
  width:75vw;
  margin:0 12.5% 0 12.5%;
}
.hub {
  width:75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: green;
}
img {
  max-width: 100%;
}
.content_container_app_html {
  margin:0;
  padding:0;
}
.block {
  display: inline-block;
}
.alert {
  background-color: green;
}
/* #Grid =========================================
================================================== */
.center {
  margin:auto;
  text-align: center;
}
.item{
  height: auto;
  margin: 0 0 20px 0;
  position: relative;
  z-index: 1;
}
.containerMain{
  width: 75vw;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  margin-top: 8vh;
  background-color: white;
  padding: 25px;
  border-radius: 15px;
}
/* ========== sections ========== */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/* ========== grouping ========== */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/* ========== col  ========== */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
/* #Header
================================================== */
.loginForm {
  margin-top: 0;
  width: 300px;
  display: inline;
}
ul{
list-style-type:none;
}
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}
#menu ul li a {
  display:block;
  min-width:50px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
 // background-color: rgba(47,48,54,0.8); //#2f3036; 
  text-decoration: none;
}
#menu ul li:hover a{
  color: #87CEEB;
}
#menu ul li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
li ul {
  display: block;
  margin-top: 18px;
  background-color: rgba(47,48,54,0.8); //#2f3036; 
}
li ul li {
  display: hidden;
  float: none;
}
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0;
}
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}
.drop{
  margin-top: 50px;
}
.navbarBack {
  background-color: rgba(47,48,54,0.8); //#2f3036; 
  height: 60px;
  width: 100vw;
  margin: 0;
  margin-bottom: -80px;
  position: fixed;
  z-index: 5;
  top: 0;
}
.navSpacing {
  height:70px;
  width: 70vw;
}
.navbarInput {
  display: inline;
  float: right;
  width: 100px;
  height: 30px;
}
.navbarInput span input {
  background-color: white;
}
.navbar {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: inline;
  position: fixed;
  margin-bottom: 0;
  z-index: 5;
}
.tilt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.tilt:hover {
 -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
   box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.8);
}
.activeNavIcon{
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  -webkit-filter: grayscale(100%);
}
.inLineLeft .inLineRight {
  width: 50%;
  display: inline;
}
.inLineLeft ul li {
  margin-top: -12px;
  margin-right: 20px;
  margin-left: -37px;
}
.inLineLeft {        /*---Logo in Here---*/
  float: left;
  margin: 1px 0 0 0;
}
.inLineRight {
  float: right;
  margin: 15px;
}
.inLineRight span {
  float: left;
}
#menu li {
  display:block;  
  margin:0 5px 0 0;
}
.menuDropdown li{
  z-index:3;
}
.menuDropdown {
  position: fixed;
  right: 13vw;
  overflow:show;
  top: 42px;
  z-index: 3;
}
.iconBar {
  position: fixed;
  right: 12.5vw;
  top: -12px;
}
/*  #Footer 
================================================ */
.footer{
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
  margin-top: 20px;
}
.footer p {
  float:right;
  display: inline;
  padding-left: 53vw;
}
.footer-link{
  margin:8px;
  padding: 10px;
  display: inline;
}
.footerLinks{
  display: inline;
  margin:0px;
  width:0;  
}
.footerLinks a:hover {
  color: #87CEEB;
  background-color: #D2DADD; 
}
.footerLinks a{
  background-color: #D2DADD;  
  color: black;
}
/* #Home
=============================================== */
.banner {
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}
#hero-text {
  padding: 20px;
  margin: 20px;
}
.containerHome {
  background-color: grey;
  width: 75%;
  height: 400px;
  padding-top: 40px;
}
.containerContent {
  border: 1px solid grey;
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
}
.hero-text {
  margin:auto;
  margin-left:33.5vw;
}
/* #Buttons
================================================== */
#signupButton, #aboutButton {
  display: inline-block;
  width:50px;
  margin-left:0px;
  margin-right:0;
}
#signupButton {
  margin-left:40vw;
  height:30px;
}
#aboutButton {
  margin-left:3.5vw;
}
.button:hover{
  background-color: #87CEEB;
}
.button {
 background: #999999;
 width: 100px;
 height: 30px;
 text-decoration: none;
 border: 0px solid white;
 display: inline-block;
}
.editButton {
  height: 50px;
}
#loginButton {
  height: 30px;  
  display: inline;
  float: right; 
}
/* #Settings
================================================== */
#settingsTable {
  background-color: white;
  margin: auto;
  padding-left: 90px;
  border-radius: 25px;
  border: 2px solid #ccc;
}
tr {
  padding: 20px;
  margin: 20px;
}
td {
  padding: 20px;
  margin: 20px;  
}
/* #Tables 
================================================== */
.signupTable {
  margin: 0;
  padding:0;
}
.floatRight {
  float:right;
}
.hidden{
  display: hidden;
}
/* #Users
================================================== */
.follow-btn li h4 a{
  text-decoration: none;
  color: black;
}
.follow-btn li h4 a:hover {
  text-decoration: none;
  color: #87CEEB;
}
.box-main {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
}
#masonJar {
  margin-right: auto;
  margin-left: auto;
}
.userFeedBox {
  background-color: blue;
  height: 400px;
  margin-bottom: 0px;
  display: inline-block;
}
#profile-picture {
  margin-top: -225px;
  margin-left: 35px;
  width: 200px;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
}
.profile_bar{
  background-color: white;
  height:70px;
  margin-top: -23px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.profile_bar .inLineLeft {
  margin-left:35px; 
  margin-top: 23px;
}
.profile_bar .stats {
  margin-left: 40%;
  padding-top: 25px;
}
.profile_nav_links li {
  margin-right: 25px;
}
.profile_nav_links li a{
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
.profile_nav_links li a:hover {
  text-decoration: none;
  color: #87CEEB;
}
/* #Hub
================================================= */
.tab {
  height: 40px;
  width: 80px;
  color: white;
  text-decoration: none;
}
.tabLink {
  color: white;
  text-decoration: none;
}
.tabLink:visited {
  color: white;
  text-decoration: none;
} 
.tabLink:hover {
  color: #f3f3f3;
}
.activeTab {
  background-color: #87CEEB;
  color: black;
}
.hubTabs {
  background-color: rgba(47,48,54,0.8);
  position:absolute;
  right: 22.4vw;
  top: 84px;
}
.hub_container {
  margin: 50px 0 0 0;
}
.explore_container{
  margin: 50px 0 0 0;
}
.search_container {
  margin: 50px 0 0 0;
  padding: 0 12.5vw 0 12.5vw;
}
/* #Posts
================================================= */
.individual_post {
  max-width: 400px;
}
.item .right {
  margin: auto;
}
.uploads{
  height: 200px;
  width: 100%;
}
.upload_list{
  width: 30%;
}
.upload_medium{
  display: inline;
  height: 200px;
  background-color: white;
}
.upload_medium ul{
  background-color: white;
}
.upload_medium ul li{
  display:block;
  background-color: white;
}
#player-wrapper {
  display: none;
}
.twitter_post {
  overflow: hidden;
  border-bottom: 5px solid rgba(64,153,255,0.8);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.nFuse_post {
  overflow: hidden;
  border-bottom: 5px solid rgba(135,206,235,0.9);
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.instagram_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(205,179,139,0.8);
}
.facebook_post {
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
  border-bottom: 5px solid rgba(59,89,152,0.8);
}
#content-box-profile {
 height: 100vh;
 top: 0;
}
.post_main{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  height: auto;
}
.post_header{
  margin:0;
  padding: 0;
  text-decoration: none;
  height: auto;
  display: inline;
  list-style-type: none;
}
.post_header li{
  display: inline;
  color: green;
  padding: 0;
}
.provider_logo{
  margin: 0;
  padding: 0;
  border-radius: 7.5px;
}
.user_profile_picture{
  margin: 0 10px 0 0;
  padding: 0;
  border-radius: 50px;
}
.user_name :hover{
  color: black;
}
.user_name{
  margin: 20px 0 0 0;
  font-size: 1.8em;
  padding: 20px 0px 0px 20px;
  margin: auto;
}
.user_link {
  background-color: white;
  padding: 10px;
}
.post_content{
  margin: 0;
  //border: 2px dotted pink;
  padding: 0px;
  margin: auto;
}
.image_post{
  border-radius: 0px;
  margin: auto;
  max-width: 400px;
}
.post_footer{
  height: 20px;
  padding-bottom: 30px;
}
.vr{
  border-right: 1px solid black;
  height: 20px;
}
.timeStamp{
  font-size: .6em;
  display: inline;
  padding: 0 0 50px 0;
}
.post_actions{
  bottom: 0px;
  height: 20px;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 20px 0 5px 0;
  position: absolute;
  display: block;
}
.post_actions li{
  padding-left: 7%;
}
.right{
  //float: right;
  //margin: 0;
  //right:0;
  top:0;
  padding: 0;
}
.yt_link {
float: right;
}
/* #SeccondNavbar 
=================================================== */
.subNav {
  background-color: rgba(135,206,235,0.8);
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 0;
  margin: 0px 0 10px 0;
}
.subNavList {
  width: 75%;
  margin: 0 12.5% 0 12.5%;
}
.subNavList li {
  margin: .5vh 2vw 0 2vw;
}
.search-bar input{
  height: 30px;
  margin-top: 5px;
  font-size: 1.2em;
}
/* #Youtube videos
=================================================== */
.yt_link {
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
 }
.yt_link img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.whiteBox{
  background-color: white;
  max-width: 400px;

}
/* ========== media query ==========  */
/*=
1900 - 6
1575 -5
=*/
/*@media only screen and (max-width: 1899px){
   .individual_post {
  border-radius: 15px;
  width:17%;
  }
}
@media only screen and (max-width: 1574px){
   .individual_post {
  border-radius: 15px;
  width:22%;
  }
}
@media only screen and (max-width: 1249px){
   .individual_post {
  border-radius: 15px;
  width:30%;
  }
}
@media only screen and (max-width: 966px) {
  .individual_post {
  border-radius: 15px;
  width:45%;
  }
}

@media only screen and (max-width: 720px) {
  .individual_post {
  border-radius: 15px;
  width:100%;
  }
}
*/