#logged_in {
  display: inline-block;
  li {
    display: none;
    list-style: none;
    padding: .5em;
    border: 1px solid white;
    border-top: none;
    &:first-child {
      border-top: 1px solid white;
    }
    &:hover {
      background-color: lighten($logo-green, 60%);
      color: $logo-green;
      a {
        color: $logo-green;
      }
    }
    a {
      text-decoration: none;
      font-size: 1em;
      color: white;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  @include media($large-screen) {
    float: right;
    li {
      display: inline-block;
    }
  }
}

#secondary_nav {
  list-style: none;
  margin: 0;
  padding: 0;
  li a {
    display: block;
    padding: 1em;
    background-color: white;
    border-bottom: 2px solid $background-gray;
    &:hover {
      background-color: lighten($logo-green, 60%);
    }
  }
}

#menu_button_container {
  #menu_button {
    display: block;
  }
  position: relative;
  z-index: 11;
  @include media($large-screen) {
    display: inline-block;
    #menu_button {
      display: none;
    }
  }
}