                <article class="individual_post item instagram_post0">
                    <header class="post_header">
                        <div class="user">
                            <img alt="11820660 1609991055932652 2099461914 a" class="user_profile_picture" height="45" src="https://scontent.cdninstagram.com/hphotos-xtf1/t51.2885-19/11820660_1609991055932652_2099461914_a.jpg" width="45">
                            <a href="/">collegehumor</a>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a class="timeStamp" href="#" target="_blank" title="Go To Entry">
                            <i class="fa"></i> 6d
                        </a>
                        
                    </header>
                    <main class="post_content">
                        <div class="timeline-user-box">
                            <video width="100%" controls="" preload="none" autoload="none" poster="https://scontent.cdninstagram.com/hphotos-xpt1/t51.2885-15/s320x320/e15/12317708_1495632684073251_1251927360_n.jpg">
                                <source src="https://scontent.cdninstagram.com/hphotos-xtf1/t50.2886-16/12344669_921793924563268_479938280_n.mp4" type="video/mp4">
                                <source src="https://scontent.cdninstagram.com/hphotos-xtf1/t50.2886-16/12344669_921793924563268_479938280_n.mp4" type="video/ogv">
                            </video>
                        </div>
                        <p>
                            The Force Awakens Is Just Like Phantom Menace - Full video link in profile - #starwars #forceawakens #dejavu #collegehumor
                        </p>
                    </main>
                    <footer class="post_actions">
                        <a class="likePost" data-method="post" data-remote="true" href="#" rel="nofollow">
                            <i class="fa"></i><span>666</span>
                        </a>
                    </footer>
                </article>