<div class='timeline-user-box'>
	<iframe
	  src="<%= @post_entry.id %>"
	  width="100%"
	  height="225"
	  frameborder="0"
	  webkitallowfullscreen
	  mozallowfullscreen
	  allowfullscreen>
	</iframe>
</div>
<% if @post_entry.text.present %>
	<div class='center'>
	  <%= truncate(@post_entry.text, lenght: 30) %><br>
	</div>
<% end %>