<style>
.notificationPost{
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.imageAndVideoWidth{
	max-width: 400px
}
.notification_padding{
	margin-top: 15px;
}
.exclusive_bgc{
  background-color: #000;
}
</style>

	<div class="notification_padding">
		<%= render partial: 'activities/activity' %>
	</div>

