<style>
.notificationPost{
  overflow: hidden;
  box-shadow: 5px 3px rgba(100,100,100,0.5);
}
.imageAndVideoWidth{
	max-width: 400px
}
.yes_timeline_padding{
	margin-top: 15px;
}
</style>

	<div id="activities-masonry">
		<%= render partial: 'activities/activity' %>
	</div>

