<% content_for :for_head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>Untitled</title>
  <%= javascript_include_tag 'edge_includes/edge.5.0.1.min.js'%>
  <%= javascript_include_tag 'edge_includes/SuperStretchConcept_edge.js'%>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
<% end %>

<script>
   AdobeEdge.loadComposition('SuperStretchConcept', 'EDGE-1058737', {
    scaleToFit: "none",
    centerStage: "horizontal",
    minW: "1000px",
    maxW: "undefined",
    width: "100%",
    height: "100%"
}, {"dom":{}}, {"dom":{}});
</script>

<div id="Stage" class="EDGE-1058737">
</div>
