<!-- Updated at 1:59 12/30/15 -->
<style>
/*  .gosearch {
    background: transparent;
    border: none !important;
    outline: none;
    margin-right: -6px;
  }*/
</style>
        <!-- NAVIGATION -->
<nav class="navbar navbar-custom navbar-fixed-top">
   <!-- NAVBAR -->
    <div class="navbar-header">
        <!--<a id="menutoggler" href="#" class="" data-toggle="offcanvas" data-target="#slide-nav">
            <i class="main-color fa fa-bars"></i>
        </a>-->
        <a id="menutoggler" href="#" data-toggle="modal" data-target="#navmodal">
            <i class="main-color fa fa-bars"></i>
        </a>
        <a class="navbar-brand" href="index.html">
            <img src="/assets/logo.png" alt="nfuselogo"/>
        </a>
        <div id="top-nav" class="">
            <!-- LOGGED OUT -->
            <ul class="nav loggedout">
                <li>
                    <a href="#" class="hidden-xs page-scroll animated"><i class="fa fa-user-plus"></i> Sign Up</a>
                    <a href="#" data-toggle="modal" data-target="#signupmodal" class="visible-xs"><i class="fa fa-user-plus"></i> Sign Up</a>
                </li>
                <li>
                    <a href="signin.html" class="hidden-xs"><i class="fa fa-user"></i> Sign In</a>
                    <a href="#" data-toggle="modal" data-target="#signinmodal" class="visible-xs"><i class="fa fa-user"></i> Sign In</a>
                </li>
            </ul>
            <!-- LOGGED IN -->
            <div class="nav loggedin">
                <a id="user" href="profile.html">
                    <img src="/assets/users/default.jpg" alt="User Image"/>
                </a>
                <a id="explore" href="explore-loggedin.html" class="icon-link" alt="Explore">
                    <i class="main-color fa fa-compass"></i>
                </a> 
                <a id="notifications" href="#" class="icon-link" data-toggle="modal" data-target="#notificationsmodal" alt="Notifications">
                    <i class="main-color fa fa-bell"></i>
                    <span id="count">8</span>
                </a>
                <a id="home" href="profile.html" class="icon-link" alt="The Hub">
                    <i class="main-color fa fa-home"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- TOP SEARCH FORM -->
    <form accept-charset="UTF-8" action="/search" id="head-search" class="down search drk" method="get">
        <div style="display:none">
            <input name="utf8" type="hidden" value="✓">
        </div>
        <!-- DROP DOWN -->
        <div class="dropdown loggedin">
            <a id="searchdrop" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                Nfusers
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="searchdrop">
                <li><a href="#">Nfuse</a></li>
                <li><a href="#">Nfusers</a></li>
            </ul>
        </div>
        <!-- RANDOM -->
        <a class="ilink randomize loggedout" href="explore.html"><img src="/assets/dice.png" alt="random search"/></a>
        <!-- SEARCH LINK -->
        <a class="ilink gosearch" href="explore.html"><i class="fa fa-search"></i></a>
        <!-- SEARCH INPUT -->
        <input class="searchform" name="search" placeholder="#tags, @Users &amp; Social Media" type="text">
    </form>
</nav>